name: generator
description: Generates various Win32 API projections using Windows metadata.
publish_to: none

environment:
  sdk: ^3.8.0

# Declare that this package only works on Windows.
platforms:
  windows:

dependencies:
  # For formatting Dart code (APIs for performing dart format).
  dart_style: ^3.1.0

  # Foreign Function Interface extension methods.
  ffi: ^2.1.4

  # Windows metadata for automatically generating API signatures.
  winmd: ^6.1.0

dev_dependencies:
  # Help ensure that the code is well-written.
  halildurmus_lints: ^2.0.0

  # Used for running Git hooks.
  hooks:
    git:
      url: https://github.com/halildurmus/workflows.git
      path: packages/hooks

  # Running the test suite.
  test: ^1.25.15

executables:
  generator:
