# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# Documentation doesn't need checking in here
doc/**

# We create these files for inspection if the goldens tests fail, but we don't
# need to check them in.
test/goldens/*.comparison

# Don't need to check in coverage files
coverage/*