name: Dart Package Examples

on:
  pull_request:
    paths:
      - .github/workflows/dart_package_examples.yml
      - analysis_options.yaml
      - pubspec.yaml
      - examples/dartnote/bin/**
      - examples/dartnote/lib/**
      - examples/dartnote/analysis_options.yaml
      - examples/dartnote/pubspec.yaml
      - examples/manifest/bin/**
      - examples/manifest/lib/**
      - examples/manifest/analysis_options.yaml
      - examples/manifest/pubspec.yaml
      - examples/service_manager_cli/bin/**
      - examples/service_manager_cli/lib/**
      - examples/service_manager_cli/analysis_options.yaml
      - examples/service_manager_cli/pubspec.yaml
      - examples/snake/bin/**
      - examples/snake/lib/**
      - examples/snake/analysis_options.yaml
      - examples/snake/pubspec.yaml
      - examples/system_tray_icon/bin/**
      - examples/system_tray_icon/lib/**
      - examples/system_tray_icon/analysis_options.yaml
      - examples/system_tray_icon/pubspec.yaml
      - examples/task_dialog/bin/**
      - examples/task_dialog/lib/**
      - examples/task_dialog/analysis_options.yaml
      - examples/task_dialog/pubspec.yaml
      - examples/tetris/bin/**
      - examples/tetris/lib/**
      - examples/tetris/analysis_options.yaml
      - examples/tetris/pubspec.yaml
      - examples/usb_drive_monitor/bin/**
      - examples/usb_drive_monitor/lib/**
      - examples/usb_drive_monitor/analysis_options.yaml
      - examples/usb_drive_monitor/pubspec.yaml
      - packages/win32/hook/**
      - packages/win32/lib/**
      - packages/win32/src/**
      - packages/win32/analysis_options.yaml
      - packages/win32/pubspec.yaml
  push:
    branches: [main]
    paths:
      - .github/workflows/dart_package_examples.yml
      - analysis_options.yaml
      - pubspec.yaml
      - examples/dartnote/bin/**
      - examples/dartnote/lib/**
      - examples/dartnote/analysis_options.yaml
      - examples/dartnote/pubspec.yaml
      - examples/manifest/bin/**
      - examples/manifest/lib/**
      - examples/manifest/analysis_options.yaml
      - examples/manifest/pubspec.yaml
      - examples/service_manager_cli/bin/**
      - examples/service_manager_cli/lib/**
      - examples/service_manager_cli/analysis_options.yaml
      - examples/service_manager_cli/pubspec.yaml
      - examples/snake/bin/**
      - examples/snake/lib/**
      - examples/snake/analysis_options.yaml
      - examples/snake/pubspec.yaml
      - examples/system_tray_icon/bin/**
      - examples/system_tray_icon/lib/**
      - examples/system_tray_icon/analysis_options.yaml
      - examples/system_tray_icon/pubspec.yaml
      - examples/task_dialog/bin/**
      - examples/task_dialog/lib/**
      - examples/task_dialog/analysis_options.yaml
      - examples/task_dialog/pubspec.yaml
      - examples/tetris/bin/**
      - examples/tetris/lib/**
      - examples/tetris/analysis_options.yaml
      - examples/tetris/pubspec.yaml
      - examples/usb_drive_monitor/bin/**
      - examples/usb_drive_monitor/lib/**
      - examples/usb_drive_monitor/analysis_options.yaml
      - examples/usb_drive_monitor/pubspec.yaml
      - packages/win32/hook/**
      - packages/win32/lib/**
      - packages/win32/src/**
      - packages/win32/analysis_options.yaml
      - packages/win32/pubspec.yaml

jobs:
  build:
    strategy:
      matrix:
        example:
          - dartnote
          - manifest
          - service_manager_cli
          - snake
          - system_tray_icon
          - task_dialog
          - tetris
          - usb_drive_monitor

    uses: halildurmus/workflows/.github/workflows/dart.yml@main
    with:
      analyze_directories: bin lib
      format_directories: bin lib
      run_tests: false
      working_directory: examples/${{ matrix.example }}
