name: Dart Package Examples

on:
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/dart_package_examples.yml'
      - 'analysis_options.yaml'
      - 'pubspec.yaml'
      - 'examples/service_manager_cli/bin/**'
      - 'examples/service_manager_cli/lib/**'
      - 'examples/service_manager_cli/analysis_options.yaml'
      - 'examples/service_manager_cli/pubspec.yaml'
      - 'packages/win32/lib/**'
      - 'packages/win32/analysis_options.yaml'
      - 'packages/win32/pubspec.yaml'
  push:
    branches: [main]
    paths:
      - '.github/workflows/dart_package_examples.yml'
      - 'analysis_options.yaml'
      - 'pubspec.yaml'
      - 'examples/service_manager_cli/bin/**'
      - 'examples/service_manager_cli/lib/**'
      - 'examples/service_manager_cli/analysis_options.yaml'
      - 'examples/service_manager_cli/pubspec.yaml'
      - 'packages/win32/lib/**'
      - 'packages/win32/analysis_options.yaml'
      - 'packages/win32/pubspec.yaml'

jobs:
  build:
    strategy:
      matrix:
        example:
          - service_manager_cli

    uses: halildurmus/workflows/.github/workflows/dart_package.yml@main
    with:
      run_tests: false
      working_directory: examples/${{ matrix.example }}
