name: Prepare Release

on:
  workflow_dispatch:
    inputs:
      package:
        required: true
        description: Package to release
        type: choice
        options:
          - ffi_leak_tracker
          - win32
          - win32_clipboard
          - win32_registry
          - win32_runner
          - winmd

jobs:
  prepare-release:
    uses: halildurmus/workflows/.github/workflows/prepare_release.yml@main
    with:
      working_directory: packages/${{ inputs.package }}
    secrets:
      token: ${{ secrets.PAT }}
